<div class="container row center-align">
	<h3>Edit Account Details</h3>
	<h4>(ID: <%= currentUser._id %>)</h4>


<form class="col s12" method="post" action="/account/edit?_method=PUT">

	<div class="card col s4 offset-s4">
		<div class="card-image">
			<p>Profile Picture for <%= currentUser.displayname %>: <%= currentUser._id %></p>
			<img class="responsive-img" src="#">
		</div>
	</div>

	<div class="input-field col m8 s12 offset-m2 file-field input-field">
    	<div class="blue btn">
    		<span>File</span>
    		<input type="file">
      	</div>
		<div class="file-path-wrapper">
        	<input class="file-path validate" type="text" placeholder="Upload new profile picture">
      	</div>
    </div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="location">Location (City, State)</label>
		<input value="<%= currentUser.location %>" class="validate" type="text" name="location" id="location">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="bio">Bio</label>
		<textarea id="bio" class="materialize-textarea" name="bio"><%= currentUser.bio %></textarea>
	</div>

	<!--<p>Change Password</p>
	<div class="input-field col m8 s12 offset-m2">
		<label for="password">Current Password</label>
		<input class="validate" type="password" name="password" id="password">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="newPassword">New Password</label>
		<input class="validate" type="password" name="newPassword" id="newPassword">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="newPasswordConfirm">Confirm New Password</label>
		<input class="validate" type="password" name="newPasswordConfirm" id="newPasswordConfirm">
	</div>-->

	<input class="col s4 offset-s4 waves-effect waves-light btn green hoverable" type="submit" value="Update">
</form>
</div>


<form method="post" action="#">
	<p>Close Account</p>
	<input class="red btn" type="submit" value="Close Account">
	<p><b>Warning! This will remove all of your User info and Car info from database.</b></p>
</form>