<!--this page will link to edmund's API to -->
<div class="container row center-align">
	<h3 class="car-id">Car Details</h3>
	<h4>(ID: <%= car._id %>)</h4>

<form class="col s12" method="post" action="/my-garage/<%= car._id %>/edit?_method=PUT">

	<div class="card">
		<div class="card-image">
			<img class="responsive-img" src="/images/cars-placeholder.jpg">
		</div>
	</div>

	<div><h3>Update Car Info</h3></div>

	<div class="input-field col m8 s12 offset-m2 file-field input-field">
    	<div class="blue btn">
    		<span>File</span>
    		<input type="file">
      	</div>
		<div class="file-path-wrapper">
        	<input class="file-path validate" type="text" placeholder="Upload new car image">
      	</div>
    </div>


	<div class="input-field col m8 s12 offset-m2">
		<label for="make">Make</label>
		<input value="<%= car.make %>" class="validate" type="text" name="make" id="make">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="model">Model</label>
		<input value="<%= car.model %>" class="validate" type="text" name="model" id="model">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="year">Year</label>
		<input value="<%= car.year %>" class="validate" type="text" name="year" id="year">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="color">Color</label>
		<input value="<%= car.color %>" class="validate" type="text" name="color" id="color">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="transmission">Transmission</label>
		<input value="<%= car.transmission %>" class="validate" type="text" name="transmission" id="transmission">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="mileage">Current Mileage</label>
		<input value="<%= car.mileage %>" class="validate" type="number" name="mileage" id="mileage">
	</div>

	<div class="input-field col m8 s12 offset-m2">
		<label for="licensePlate">License Plate Number</label>
		<input value="<%= car.licensePlate %>" class="validate" type="text" name="licensePlate" id="licensePlate">
	</div>

	<div class="input-field col m8 s12 offset-m2">
        <label for="description">Description</label>
		<textarea id="description" class="materialize-textarea" name="description"><%= car.description %></textarea>
	</div>

	<input value="Update Car" class="col s4 offset-s4 waves-effect waves-light btn green hoverable" type="submit">
</form>
</div>