<!--this page will link to edmund's API to -->
<h1>Edit Car (ID: <%= car._id %>)</h1>

<form method="post" action="/my-garage/<%= car._id %>/edit?_method=PUT">

	<div class="car-image">
		<img src="#">
	</div>

	<div class="form-group">
		<label for="make">Make</label>
		<input value="<%= car.make %>" class="form-control" type="text" name="make" id="make">
	</div>

	<div class="form-group">
		<label for="model">Model</label>
		<input value="<%= car.model %>" class="form-control" type="text" name="model" id="model">
	</div>

	<div class="form-group">
		<label for="year">Year</label>
		<input value="<%= car.year %>" class="form-control" type="text" name="year" id="year">
	</div>

	<div class="form-group">
		<label for="color">Color</label>
		<input value="<%= car.color %>" class="form-control" type="text" name="color" id="color">
	</div>

	<div class="form-group">
		<label for="transmission">Transmission</label>
		<input value="<%= car.transmission %>" class="form-control" type="text" name="transmission" id="transmission">
	</div>

	<div class="form-group">
		<label for="mileage">Current Mileage</label>
		<input value="<%= car.mileage %>" class="form-control" type="number" name="mileage" id="mileage">
	</div>

	<div class="form-group">
		<label for="licensePlate">License Plate Number</label>
		<input value="<%= car.licensePlate %>" class="form-control" type="text" name="licensePlate" id="licensePlate">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input value="<%= car.description %>" class="form-control" type="text" name="description" id="description">
	</div>

	<input class="btn btn-default" type="submit">
</form>