<h1>Contact Info for <%= user.displayname %></h1>

<div>
	<ul>
		<li><%= user._id %></li>
		<li><%= user.displayname %></li>
		<li><%= user.local.email %></li>
		<li><%= user.location %></li>
		<li><%= user.bio %></li>
	</ul>
</div>

<div>
	<h3>Car info</h3>

	<% cars.forEach(function(car) { %>
		<div class="card red lighten-2">
			<div class="card-content white-text">
				<span><%= car.make %> <%= car.model %></span>
				<ul>
					<li>Year: <%= car.year %></li>
					<li>Mileage: <%= car.mileage %></li>
					<li>Description: <%= car.description %></li>
				</ul>
			</div>
		</div>
	<% }) %>

</div>