<h1> My Garage</h1>

<a class="new-car-btn green waves-effect waves-light btn-large" href="/my-garage/add">
	<i class="fa fa-plus" aria-hidden="true"></i> Add Car
</a>

<div class="row">

	<% cars.forEach(function(car) { %>
	<div class="col s12 m6">
		<div class="card hoverable">

		<div class="card-image waves-effect waves-block waves-light">
			<img src="/images/car-placeholder-1.jpg">
		</div>

		<div class="card-content">
			<span class="card-title"><%= car.year %> <%= car.make %> <%= car.model %></span>
			<ul>
				<li>Owner: <%= car.owner.displayname %>
				<li>Make: <%= car.make %></li>
				<li>Model: <%= car.model %></li>
				<li>Year: <%= car.year %></li>
				<li>Trim: </li>
				<li>Color: <%= car.color %></li>
				<li>Transmission: <%= car.transmission %></li>
				<li>License Plate: <%= car.licensePlate %></li>
				<li>Mileage: <%= car.mileage %></li>
				<li>Description: <%= car.description %></li>
			</ul>
		</div>

		<div class="card-action">
			<span>Available to Switch?</span>
			<a href="/my-garage/<%= car._id %>/toggle">
				<% if (car.isSwappable) { %>
				<span class="right"><i class="fa fa-toggle-on" aria-hidden="true"></i></span>
				<% } else { %>
				<span class="right"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>
				<% } %>
			</a>
		</div>

		<div class="card-action">
			<a class="blue white-text waves-effect waves-light btn-flat" href="/my-garage/<%= car._id %>/edit">Update</a>
			<form class="delete-form" method="POST" action="/my-garage/<%= car._id %>?_method=DELETE">
				<button type="submit" class="red darken-1 white-text waves-effect waves-light btn-flat">Remove</button>
			</form>
		</div>
		</div>
	</div>
	<% }) %>
</div>

<!--If current swap exists, then display:-->
<!--<h3>Current Swap</h3>-->