<% if (currentUser) { %>

<div>
	<h1>Welcome, <%= currentUser.displayname %>!</h1>
	<p>Browse for cars: </p>
	
	<% cars.forEach(function(car) { %>
	<a href="/contact/:id">
		<div class="card red lighten-2">
			<div class="card-content white-text">
				<span><%= car.make %> <%= car.model %></span>
				<ul>
					<li>Year: <%= car.year %></li>
					<li>Mileage: <%= car.mileage %></li>
					<li>Location: <%= car.location %></li>
					<li>Description: <%= car.description %></li>
				</ul>
			</div>
		</div>
	</a>
	<% }) %>


</div>

<% } else { %>

<div>
	<h1>Welcome to Cars App!</h1>
	<p>You are viewing the homepage content.</p>
	<p>Please log in or sign up to browse for cars!</p>
</div>

<% } %>